# Environment variables
.env
.env.*
!.env.example

# Binaries & build artifacts
/bin/
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# OS & Editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Local documentation / setup guide
*.exe
api.exe
.env*